#principal {
     position: fixed; 
     top: 0; 
    margin-top: 70px;
     width: 100%;
}
.flex{
    display: flex;
    background-color: lightblue;
    position: sticky;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border: 1px black
} 